.popup__button {
  margin: 0;
  margin-top: 48px;
  padding: 0;
  background-color: #000;
  border: none;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.popup__button:hover {
  cursor: url(../../../images/pointer.png) 10 0, pointer;
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .popup__button {
    margin-top: 45px;
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 319px) {
  .popup__button {
    font-size: 4.5vw;
  }
}
