.footer__copyright {
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 880px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    padding-left: 27px;
  }
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding-left: 19px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 319px) {
  .footer__copyright {
    /* font-size: 14px;
    line-height: 17px; */
    /* padding-left: 19px; */
  }
}