.element__photo {
  margin-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
}

.element__photo:hover {
  /* cursor: url(../../../images/pointer.png) 10 0, pointer; */
  cursor: pointer;
}
